.headerContainer{
    position: relative;
}

.header-text{
    display: flex;
    align-items: center;
    position: absolute;
    top: 50px;
    left: 30%
}

.header-text h1{
    /* background-color: transparent; */
    margin-right: 215%;
    font-size: 50px;
}

.header-text button{
    background-color: transparent;
}