.headerContainer{
    position: relative;
}

.header-text{
    display: flex;
    align-items: center;
    position: absolute;
    top: 50px;
    left: 30%;
    color: white;
}

.header-text h1{
    /* background-color: transparent; */
    margin-right: 215%;
    font-size: 50px;
}

.header-text button{
    background-color: transparent;
}

@media (min-width: 0px) and (max-width: 800px){
    .headerContainer{
        width: 100vw;
        height: 25vh;
    }

    .header-text{
        top: 35px;
        left: 5%
    }

    .header-text h1{
        margin-right: 50%;
        font-size: 50px;    
    }
}