.form-container{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 0 30px 0;
    padding: 10px 
    0 10px 0;
    background-color: #25273C;
    /* margin: 20px; */
    border: 1px solid gray;
    /* padding: 20px 0px; */
}

/* .check-task-button{
    border-radius: 50%;
    margin: 0 10px 0 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: 1px solid #2b2d3d;
} */

/* .check-task-button:hover {
    background: 
        linear-gradient(#25273C, #25273C) padding-box,
        linear-gradient(60deg, #57ddff, #c058f3) border-box;
    border: 1px solid transparent;
    border-radius: 50%;
} */

.form-container input{
    width: 70%;
    margin: 10px;
    
    padding: 10px 0px;
    background-color: #2b2d3d;
    cursor: pointer;
    border-radius: 5px;
}
.add-task-button{
    width: 15%;
    margin: 10px;
    list-style : none;
    padding: 10px 0px;
    background-color: #25273C;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.add-task-button:hover{
    background-color: rgb(56, 55, 55);
}