.form-container{
    display: flex;
    align-items: center;
    /* background-color: #25273C;
    border: 1px solid gray; */
    margin: auto;
    width: 40%;
    position: absolute;
    top: 125px;
    left: 432px;
    border-radius: 15px;
}

.form-container input{
    width: 75%;
    margin: 10px;
    padding: 10px 0px;
    /* background-color: #2b2d3d; */
    cursor: pointer;
    border-radius: 5px;
}

.add-task-button{
    width: 20%;
    list-style : none;
    padding: 10px 0px;
    /* background-color: #25273C; */
    /* color: white; */
    cursor: pointer;
    border-radius: 5px;
}

.border-dark-mode{
    border: 1px solid white;
}
.border-light-mode{
    border: 1px solid black;
}

@media (min-width: 0px) and (max-width: 800px){
    .form-container{
        width: 100vw;
        top: 20%;
        left: 0;
    }
}