*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  /* color: white; */
  list-style : none;
  max-width: 100vw;
  background: no-repeat;
  font-size: 18px;
}

body{
  background-color: hsl(235, 21%, 11%);
}

* button{
  background-color: white;
  color: black;
  cursor: pointer;
}

.light-mode{
  background-color: aliceblue;
  color: black;
}

.dark-mode{
  background-color: hsl(235, 24%, 19%);
  color: white;
}

/* .very-dark-mode{
  background-color: hsl(235, 21%, 11%);
  color: white;
} */

.background-modo-oscuro{
  height: 75vh;
}